.login-page {
    background-color: white;
    border-radius: 4px;
    width: 188px;
    line-height: 28px;
    height: 228px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.login-form {
    margin-bottom: 10px;
    text-align: left;
}

.login-btn button {
    padding: 10px 20px;
    background-color: #3F72AF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5e7ea3;
}

.login-btn{
    line-height: 5px;
    text-align: center;
    margin-top: 19px;
}
.err p{
    font-size: small;
}
